.header__container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: relative;
    max-width: 80px;
}

.header__menu {
    position: relative;
    display: flex;
}

.header__link a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
}

.header__content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content-text {
    position: relative;
    max-width: 600px;
}

.header__content-text h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.header__content-text h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.header__content-text p {
    color: #333;
}

.header__content-text a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content-img {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.header__content-img img {
    max-width: 340px;
}

.header__thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.header__thumb-img {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.header__thumb-img:hover {
    transform: translateY(-15px);
}

.header__thumb-img img {
    max-width: 60px;
}

.header__social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__social-img a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.header__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}

@media (max-width: 991px) {
    .header__container {
        padding: 20px 20px 120px;
    }
    .header {
        padding: 20px;
    }
    .header__logo {
        max-width: 60px;
    }
    .header__toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(/assets/img/home/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    
    .header__toggle.active {
        position: fixed;
        right: 20px;
        background: url(/assets/img/home/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .header__menu {
        display: none;
    }
    .header__navigation.navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    .header__link a {
        font-weight: 400;
        margin: 5px 0;
    }
    .header__content {
        flex-direction: column;
        margin-top: 100px;
    }
    .header__content-text {
        max-width: 100%;
    }
    .header__content-text h2 {
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    .header__content-img {
        max-width: 100%;
        justify-content: center;
    }
    .header__content-img img {
        max-width: 300px;
    }
    .header__thumb-img img {
        max-width: 40px;
    }
    .header__social {
        background: #017143;
        right: 0;
        width: 50px;
        padding-right: 30px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .header__circle {
        clip-path: circle(400px at center bottom);
    }
}